# Development environment without persistence
# Use this if you're having PVC binding issues

replicaCount: 1

postgresql:
  database: bridal_cover_crm_dev
  username: postgres
  password: postgres

service:
  type: NodePort
  nodePort: 30432

# PERSISTENCE DISABLED - Data will be lost when pod is deleted!
persistence:
  enabled: false

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

