apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridal-cover-crm
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: bridal-cover-crm
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"

