# Values for Staging environment

replicaCount: 2

image:
  repository: guantunes/bridal-cover-crm
  pullPolicy: IfNotPresent
  tag: "staging"

app:
  environment: staging

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: staging-api.bridalcover.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: bridalcover-staging-tls
      hosts:
        - staging-api.bridalcover.com

resources:
  limits:
    cpu: 750m
    memory: 768Mi
  requests:
    cpu: 375m
    memory: 384Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

postgresql:
  enabled: true
  auth:
    username: bridalcover_staging
    password: staging-change-me
    database: bridalcover_staging
  primary:
    persistence:
      enabled: true
      size: 10Gi
      storageClass: "manual"
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 256Mi
  metrics:
    enabled: true

podDisruptionBudget:
  enabled: true
  minAvailable: 1

