apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridal-cover-crm
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: bridal-cover-crm
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
          resources:
            memory: "768Mi"
            cpu: "500m"
            limits:
              memory: "1536Mi"
              cpu: "1000m"

