apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridal-cover-crm
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: bridal-cover-crm
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
          resources:
            requests:
              memory: "256Mi"
              cpu: "125m"
            limits:
              memory: "512Mi"
              cpu: "250m"

