apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridal-cover-crm
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: bridal-cover-crm
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "staging"
          resources:
            requests:
              memory: "384Mi"
              cpu: "200m"
            limits:
              memory: "768Mi"
              cpu: "400m"

